# Игнорировать папку node_modules (npm-пакеты)
node_modules/

# Игнорировать временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать временные файлы ОС
.DS_Store
Thumbs.db

# Игнорировать логи
*.log

# Игнорировать базы данных
*.db

# Игнорировать папку uploads 
uploads/ 

# Игнорировать .env
*.env